{% extends "layout.html.twig" %}

{% block title %}一覧 | 作品マスター{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">ダッシュボード</li>
    <li class="breadcrumb-item">作品マスター</li>
    <li class="breadcrumb-item active">一覧</li>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form method="get" action="{{ path_for('title_list') }}">
                <div class="card-header">
                    検索
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">作品ID</label>
                        <div class="col-md-9">
                            <input type="text" name="id" class="form-control{% if errors.id %} is-invalid{% endif %}" value="{{ values.id }}">
                            <div class="invalid-feedback">
                                {% for message in errors.id %}
                                    {{ message }}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">作品名</label>
                        <div class="col-md-9">
                            <input type="text" name="name" class="form-control{% if errors.name %} is-invalid{% endif %}" value="{{ values.name }}">
                            <div class="invalid-feedback">
                                {% for message in errors.name %}
                                    {{ message }}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">検索</button>
                </div>
            </form>
        </div>
        
        <div class="card">
            <div class="card-header">
                一覧
            </div>
            <div class="card-body">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>作品名</th>
                            <th>公開日</th>
                            <th>ユニバーサル上映</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for title in pagenater.getResultsInPage() %}
                        <tr>
                            <th>{{ title.getId() }}</th>
                            <th>
                                {% if title.getImage() %}
                                <img src="{{ blob_url(title.getImage().getBlobContainer(), title.getImage().getName()) }}" width="100" alt="画像" />
                                {% else %}
                                <img src="https://placehold.jp/100x50.png?text=No%20Image" alt="No Image" />
                                {% endif %}
                                <a href="{{ path_for('title_edit', { 'id': title.getId() }) }}" >{{ title.getName() }}</a>
                            </th>
                            <th>
                                {% if title.getPublishingExpectedDate() %}
                                    {{ title.getPublishingExpectedDate().format('Y/m/d') }}
                                {% else %}
                                    未定
                                {% endif %}
                            </th>
                            <th>
                                {% for universal in title.getUniversalLabel() %}
                                    {{ universal }}
                                    {% if not loop.last %}、{% endif %}
                                {% endfor %}
                            </th>
                            <th>
                                <a href="{{ path_for('title_delete', { 'id': title.getId() }) }}" class="btn btn-sm btn-danger confirm-delete" role="button">削除</a>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
                <hr>
                
                {% include 'include/pagination.html.twig' with {
                    'pagenater': pagenater,
                    'route_name': 'title_list',
                    'params': params
                } only %}
                
            </div>
            <div class="card-footer">
                {{ pagenater.getFirstIndice() }}-{{ pagenater.getLastIndice() }} / {{ pagenater.getNumResults() }} 件
            </div>
        </div>
    </div>
</div>
{% endblock %}
