{% extends "layout.html.twig" %}

{% block title %}新規追加 | 作品マスター{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/vendor/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
{% endblock %}

{% block javascript %}
<script src="/js/vendor/jquery.datetimepicker.full.min.js"></script>
<script src="/js/form.js?v=20181009"></script>
<script src="/js/title/form.js?v=20180919"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">ダッシュボード</li>
    <li class="breadcrumb-item">作品マスター</li>
    <li class="breadcrumb-item active">新規追加</li>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form name="title" method="post" enctype="multipart/form-data" action="{{ path_for('title_create') }}">
                <div class="card-header">
                    新規追加
                </div>
                <div class="card-body">
                    {% if errors %}
                    <div class="alert alert-danger" role="alert">
                        入力エラーがあります。
                    </div>
                    {% endif %}
                    
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">作品ID</label>
                        <div class="col-md-9">
                            <p class="form-control-static">&nbsp;</p>
                            <span class="help-block">※自動でIDが付与されます。</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">作品名</label>
                        <div class="col-md-9">
                            <input type="text" name="name" class="form-control{% if errors.name %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.name }}" />
                            <div class="invalid-feedback">
                                {% for message in errors.name %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">作品名（かな）</label>
                        <div class="col-md-9">
                            <input type="text" name="name_kana" class="form-control{% if errors.name_kana %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.name_kana }}" />
                            <div class="invalid-feedback">
                                {% for message in errors.name_kana %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">サブタイトル</label>
                        <div class="col-md-9">
                            <input type="text" name="sub_title" class="form-control{% if errors.sub_title %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.sub_title }}" />
                            <div class="invalid-feedback">
                                {% for message in errors.sub_title %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">画像</label>
                        <div class="col-md-9">
                            <input type="file" name="image" class="form-control{% if errors.image %} is-invalid{% elseif is_validated %} is-valid{% endif %}" />
                            <span class="help-block">jpg、png、gif形式のみ対応。10MB以内。</span>
                            <div class="invalid-feedback">
                                {% for message in errors.image %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">クレジット</label>
                        <div class="col-md-9">
                            <input type="text" name="credit" class="form-control{% if errors.credit %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.credit }}" />
                            <div class="invalid-feedback">
                                {% for message in errors.credit %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">キャッチコピー</label>
                        <div class="col-md-9">
                            <textarea name="catchcopy" rows="3" class="form-control{% if errors.catchcopy %} is-invalid{% elseif is_validated %} is-valid{% endif %}">{{ values.catchcopy }}</textarea>
                            <div class="invalid-feedback">
                                {% for message in errors.catchcopy %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">作品紹介</label>
                        <div class="col-md-9">
                            <textarea name="introduction" rows="6" class="form-control{% if errors.introduction %} is-invalid{% elseif is_validated %} is-valid{% endif %}">{{ values.introduction }}</textarea>
                            <div class="invalid-feedback">
                                {% for message in errors.introduction %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">監督</label>
                        <div class="col-md-9">
                            <input type="text" name="director" class="form-control{% if errors.director %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.director }}" />
                            <div class="invalid-feedback">
                                {% for message in errors.director %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">出演</label>
                        <div class="col-md-9">
                            <input type="text" name="cast" class="form-control{% if errors.cast %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.cast }}" />
                            <div class="invalid-feedback">
                                {% for message in errors.cast %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">公開予定日</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" name="publishing_expected_date" class="form-control datepicker{% if errors.publishing_expected_date %} is-invalid{% elseif is_validated %} is-valid{% endif %}"  value="{{ values.publishing_expected_date }}" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="icon-calendar"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback">
                                    {% for message in errors.publishing_expected_date %}
                                        {{ message }}
                                        {% if not loop.last %}<br />{% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 col-form-label">
                                <div class="form-check form-check">
                                    <input class="form-check-input" type="checkbox" id="not_exist_publishing_expected_date" name="not_exist_publishing_expected_date" value="1" {{ '1' == values.not_exist_publishing_expected_date ? 'checked' : '' }}>
                                    <label class="form-check-label" for="not_exist_publishing_expected_date">未定</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">公式サイト</label>
                        <div class="col-md-9">
                            <input type="url" name="official_site" class="form-control{% if errors.official_site %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.official_site }}">
                            <div class="invalid-feedback">
                                {% for message in errors.official_site %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">レイティング</label>
                        <div class="col-md-9">
                            <select name="rating" class="form-control col-md-2{% if errors.rating %} is-invalid{% elseif is_validated %} is-valid{% endif %}">
                                <option value=""></option>
                                {% for value, text in form.getRatingChoices() %}
                                    <option value="{{ value }}" {{ value == values.rating ? 'selected' : '' }}>{{ text }}</text>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                {% for message in errors.rating %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">ユニバーサル上映</label>
                        <div class="col-md-9">
                            <div class="col-md-9 col-form-label">
                                {% for value, text in form.getUniversalChoices() %}
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input{% if errors.universal %} is-invalid{% elseif is_validated %} is-valid{% endif %}" type="checkbox" id="universal-{{ value }}" name="universal[]" value="{{ value }}" {{ value in values.universal ? 'checked' : '' }} />
                                    <label class="form-check-label" for="universal-{{ value }}">{{ text }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            {##
                             # インラインのマルチチェックボックスでエラーを表示するためのhidden
                             # input.is-invalidの隣に.invalid-feedbackがないと表示されないみたいだが、
                             # それをやると見た目が良くないので。
                             #}
                            <input type="hidden" class="form-control {% if errors.universal %} is-invalid{% endif %}" />
                            <div class="invalid-feedback">
                                {% for messages in errors.universal %}
                                    {% for message in messages %}
                                        {{ message }}
                                        {% if not loop.last %}<br />{% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-link" onclick="location.href='{{ path_for('title_list') }}'">一覧へ戻る</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
