{% extends "layout.html.twig" %}

{% block title %}新規追加 | 管理ユーザ{% endblock %}

{% block javascript %}
<script>
$(function(){
    var $form = $('form[name="admin_user"]');
    var $group = $form.find('select[name="group"]');
    
    $group.change(function() {
        controlTheaterField($(this).val());
    });
    
    var $theaterField = $form.find('.field-theater');
    
    /**
     * control theater field
     * 
     * @param {String} group
     */
    function controlTheaterField(group) {
        if (group === '3') {
            $theaterField.find('select').prop('disabled', false);
            $theaterField.show();
        } else {
            $theaterField.hide();
            $theaterField.find('select').prop('disabled', true);
        }
    }
    
    /**
     * execute
     */
    function execute() {
        controlTheaterField($group.val());
    }
    
    execute();
});
</script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">ダッシュボード</li>
    <li class="breadcrumb-item">管理ユーザ</li>
    <li class="breadcrumb-item active">新規追加</li>
</ol>
{% endblock %}

{% block container %}
<div class="alert alert-warning" role="alert">
    この機能はalphaバージョンです。
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form name="admin_user" method="post" action="{{ path_for('admin_user_create') }}">
                <div class="card-header">
                    新規追加
                </div>
                <div class="card-body">
                    {% if errors %}
                    <div class="alert alert-danger" role="alert">
                        入力エラーがあります。
                    </div>
                    {% endif %}
                    
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">ID</label>
                        <div class="col-md-9">
                            <p class="form-control-static">&nbsp;</p>
                            <span class="help-block">※自動でIDが付与されます。</span>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">ユーザ名</label>
                        <div class="col-md-9">
                            <input type="text" name="name" class="form-control{% if errors.name %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.name }}">
                            <span class="help-block">
                                ※半角英数のみ。同じユーザ名は登録できません。
                            </span>
                            <div class="invalid-feedback">
                            {% for message in errors.name %}
                                {{ message }}
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">表示名</label>
                        <div class="col-md-9">
                            <input type="text" name="display_name" class="form-control{% if errors.display_name %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.display_name }}">
                            <div class="invalid-feedback">
                            {% for message in errors.display_name %}
                                {{ message }}
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">パスワード</label>
                        <div class="col-md-9">
                            <input type="password" name="password" class="form-control{% if errors.password %} is-invalid{% elseif is_validated %} is-valid{% endif %}">
                            <div class="invalid-feedback">
                            {% for message in errors.password %}
                                {{ message }}
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">グループ</label>
                        <div class="col-md-9">
                            <select name="group" class="form-control col-md-4{% if errors.group %} is-invalid{% elseif is_validated %} is-valid{% endif %}">
                                <option value=""></option>
                            {% for value, text in form.getGroupChoices() %}
                                <option value="{{ value }}" {{ value == values.group ? 'selected' : '' }}>{{ text }}</text>
                            {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                            {% for message in errors.group %}
                                {{ message }}
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row field-theater">
                        <label class="col-md-3 col-form-label">劇場</label>
                        <div class="col-md-9">
                            <select name="theater" class="form-control col-md-4{% if errors.theater %} is-invalid{% elseif is_validated %} is-valid{% endif %}">
                                <option value=""></option>
                            {% for value, text in form.getTheaterChoices() %}
                                <option value="{{ value }}" {{ value == values.theater ? 'selected' : '' }}>{{ text }}</text>
                            {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                            {% for message in errors.theater %}
                                {{ message }}
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
