{% extends "layout.html.twig" %}

{% block title %}「{{ news.getHeadline() }}」編集 | NEWS・インフォメーション{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/vendor/jquery.flexdatalist.min.css">
<link rel="stylesheet" href="/css/vendor/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="/css/vendor/summernote-bs4.css">
{% endblock %}

{% block javascript %}
<script src="/js/vendor/jquery.flexdatalist.min.js"></script>
<script src="/js/vendor/summernote-bs4.min.js"></script>
<script src="/js/vendor/summernote-ja-JP.js"></script>
<script src="/js/vendor/jquery.datetimepicker.full.min.js"></script>
<script src="/js/vendor/jsrender.min.js"></script>
<script src="/js/api.js"></script>
<script src="/js/form.js?v=20181009"></script>
<script src="/js/modal/select-title.js?v=20180919"></script>
<script src="/js/news/form.js?v=20180918"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">ダッシュボード</li>
    <li class="breadcrumb-item">NEWS・インフォメーションー</li>
    <li class="breadcrumb-item active">「{{ news.getHeadline() }}」編集</li>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form name="news" method="post" enctype="multipart/form-data" action="{{ path_for('news_update', { 'id': news.getId() }) }}">
                <div class="card-header">
                    「{{ news.getHeadline() }}」編集
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">ID</label>
                        <div class="col-md-9">
                            <input type="hidden" name="id" value="{{ values.id }}" />
                            <p class="form-control-static">{{ news.getId() }}</p>
                            <span class="help-block">※自動でIDが付与されます。</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">投稿カテゴリ</label>
                        <div class="col-md-9 col-form-label">
                        {% for value, text in form.getCategoryChoices() %}
                            <div class="form-check form-check-inline mr-1">
                                <input type="radio" class="form-check-input{% if errors.category %} is-invalid{% elseif is_validated %} is-valid{% endif %}" id="category-{{ value }}" name="category" value="{{ value }}"  {{ value == values.category ? 'checked' : '' }}>
                                <label class="form-check-label" for="category-{{ value }}">{{ text }}</label>
                            </div>
                        {% endfor %}
                            {##
                             # インラインの項目でエラーを表示するためのhidden
                             # input.is-invalidの隣に.invalid-feedbackがないと表示されないみたいだが、
                             # それをやると見た目が良くないので。
                             #}
                            <input type="hidden" class="form-control {% if errors.category %} is-invalid{% endif %}" />
                            <div class="invalid-feedback">
                                {% for message in errors.category %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row title">
                        <label class="col-md-3 col-form-label">該当作品</label>
                        <div class="col-md-9">
                            <input type="hidden" name="title_id" value="{{ values.title_id }}">
                            <input type="hidden" name="title_name" value="{{ values.title_name }}">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="form-control-static title-name">{{ values.title_name }}</p>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#selectTitleModal">作品選択</button>
                                    <button type="button" class="btn btn-danger btn-clear">選択解除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">掲出期間</label>
                        <div class="col-md-6">
                            <div class="form-inline input-group">
                                <input type="text" name="start_dt" class="form-control datetimepicker{% if errors.start_dt %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.start_dt }}">
                                <div class="input-group-addon">
                                    <span class="input-group-text">～</span>
                                </div>
                                <input type="text" name="end_dt" class="form-control datetimepicker{% if errors.end_dt %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.end_dt }}">
                            </div>
                            {# mergeだと同じキーは上書きされるが、同じメッセージは表示されないのでこれで良い #}
                            {% set termErrors = [] %}
                            {% if errors.start_dt %}
                                {% set termErrors = termErrors|merge(errors.start_dt) %}
                            {% endif %}
                            {% if errors.end_dt %}
                                {% set termErrors = termErrors|merge(errors.end_dt) %}
                            {% endif %}
                            
                            {##
                             # エラーを表示するためのhidden
                             # input.is-invalidの隣に.invalid-feedbackがないと表示されないみたいだが、
                             # それをやると見た目が良くないので。
                             #}
                            <input type="hidden" class="form-control {% if termErrors %} is-invalid{% endif %}">
                            <div class="invalid-feedback">
                                {% for message in termErrors %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">タイトル</label>
                        <div class="col-md-9">
                            <input type="text" name="headline" class="form-control{% if errors.headline %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.headline }}">
                            <div class="invalid-feedback">
                                {% for message in errors.headline %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">本文</label>
                        <div class="col-md-9">
                            <textarea name="body" class="form-control editor{% if errors.body %} is-invalid{% elseif is_validated %} is-valid{% endif %}">{{ values.body }}</textarea>
                            <div class="invalid-feedback">
                                {% for message in errors.body %}
                                    {{ message }}
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">画像</label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="{{ blob_url(news.getImage().getBlobContainer(), news.getImage().getName()) }}" width="200">
                                </div>
                                <div class="col-md-12">
                                    <input type="file" name="image" class="form-control{% if errors.image %} is-invalid{% elseif is_validated %} is-valid{% endif %}">
                                    <span class="help-block">jpg、png、gif形式のみ対応。10MB以内。</span>
                                    <div class="invalid-feedback">
                                        {% for message in errors.image %}
                                            {{ message }}
                                            {% if not loop.last %}<br />{% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-link" onclick="location.href='{{ path_for('news_list') }}'">一覧へ戻る</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'include/modal/select_title.html.twig' only %}
{% endblock %}
