{% extends "layout.html.twig" %}

{% block title %}表示順管理 | NEWS・インフォメーション{% endblock %}

{% block javascript %}
<script src="/js/vendor/Sortable-1.10.2.min.js"></script>
<script src="/js/vendor/jsrender-1.0.6.min.js"></script>
<script src="/js/api.js"></script>
<script src="/js/modal/select-news.js"></script>
<script src="/js/news/publication.js"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">ダッシュボード</li>
    <li class="breadcrumb-item">NEWS・インフォメーション</li>
    <li class="breadcrumb-item active">表示順管理</li>
</ol>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">

    {% if pages %}
        <div class="card">
            <div class="card-header">
                ページ
            </div>
            <div class="card-body">
                {% for page in pages %}
                <div class="card">
                    <form method="post" action="{{ path_for('news_publication_update', { target: 'page' }) }}">
                        <input type="hidden" name="page_id" value="{{ page.getId() }}">
                        <div class="card-header">
                            {{ page.getNameJa() }}
                        </div>
                        <div class="card-body">
                            <ul class="list-group sortable">
                                {% for publication in page.getNewsList() %}
                                    {% set news = publication.getNews() %}
                                    {% include 'news/include/fieldset_publication.html.twig' with {
                                        index: loop.index0,
                                        display_order: publication.getDisplayOrder(),
                                        id: news.getId(),
                                        image: blob_url(news.getImage().getBlobContainer(), news.getImage().getName()),
                                        headline: news.getHeadline(),
                                        category_label: news.getCategoryLabel(),
                                    } only %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#selectNewsModal">追加</button>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

        <div class="card">
            <div class="card-header">
                劇場
            </div>
            <div class="card-body">
                {% for theater in theaters %}
                <div class="card">
                    <form method="post" action="{{ path_for('news_publication_update', { target: 'theater' }) }}">
                        <input type="hidden" name="theater_id" value="{{ theater.getId() }}">
                        <div class="card-header">
                            {{ theater.getNameJa() }}
                        </div>
                        <div class="card-body">
                            <ul class="list-group sortable">
                                {% for publication in theater.getNewsList() %}
                                    {% set news = publication.getNews() %}
                                    {% include 'news/include/fieldset_publication.html.twig' with {
                                        index: loop.index0,
                                        display_order: publication.getDisplayOrder(),
                                        id: news.getId(),
                                        image: blob_url(news.getImage().getBlobContainer(), news.getImage().getName()),
                                        headline: news.getHeadline(),
                                        category_label: news.getCategoryLabel(),
                                    } only %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#selectNewsModal">追加</button>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<script id="newsRowTmpl" type="text/x-jsrender">
{% include 'news/include/fieldset_publication.html.twig' with {
    index: '{{:index}}',
    id: '{{:id}}',
    image: '{{:image}}',
    headline: '{{:headline}}',
    category_label: '{{:category_label}}',
} only %}
</script>

{% include 'news/include/select_modal.html.twig' only %}
{% endblock %}
